/* Wallust colors for Firefox */
:root {
    --wallpaper-bg: {{background}};
    --wallpaper-fg: {{foreground}};
    --wallpaper-c0: {{color0}};
    --wallpaper-c1: {{color1}};
    --wallpaper-c2: {{color2}};
    --wallpaper-c3: {{color3}};
    --wallpaper-c4: {{color4}};
    --wallpaper-c5: {{color5}};
    --wallpaper-c6: {{color6}};
    --wallpaper-c7: {{color7}};
    --wallpaper-c8: {{color8}};
    --wallpaper-c9: {{color9}};
    --wallpaper-c10: {{color10}};
    --wallpaper-c11: {{color11}};
    --wallpaper-c12: {{color12}};
    --wallpaper-c13: {{color13}};
    --wallpaper-c14: {{color14}};
    --wallpaper-c15: {{color15}};

    /* You can define aliases here if you want */
    --accent-color: var(--wallpaper-c4);
    --toolbar-bg: var(--wallpaper-c0);
    --toolbar-fg: var(--wallpaper-fg);
    --urlbar-bg: var(--wallpaper-c1);
    --urlbar-fg: var(--wallpaper-fg);
    --tab-selected-bg: var(--wallpaper-bg);
    --tab-selected-fg: var(--wallpaper-fg);
}
